@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model webpoker.Models.Table
@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid">

        <div class="row" id="users"></div>

        <div class="row" id="actions"></div>
        <br />
        <div class="row">
            <div class="col text-center text-primary" id="pool">0</div>
        </div>
        <br />
        <div class="row">
            <div class="col"></div>
            <div class="col border text-center" id="flop1" style="font-size: 10mm;"></div>
            <div class="col border text-center" id="flop2" style="font-size: 10mm;"></div>
            <div class="col border text-center" id="flop3" style="font-size: 10mm;"></div>
            <div class="col border text-center" id="turn"  style="font-size: 10mm;"></div>
            <div class="col border text-center" id="river" style="font-size: 10mm;"></div>
            <div class="col"></div>
        </div>
        <br />
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col border text-center bg-white" id="hand1" style="font-size: 10mm;"></div>
            <div class="col"></div>
            <div class="col border text-center bg-white" id="hand2" style="font-size: 10mm;"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row"><p> </p></div>


        <div class="row">
            <div class="col" id="namefield">@HttpContextAccessor.HttpContext.Session.GetString("username")</div>
            <div class="col btn-danger text-center" id="passbutton">Pass</div>
            <input class="col" id="valueinput" name="Value" type="number" min="0" placeholder="przebij" />
            <div class="col btn-success text-center" id="gobutton"></div>
            <div class="col" id="wallet">@Model.Users.First(x => x.Name == HttpContextAccessor.HttpContext.Session.GetString("username")).Wallet</div>
        </div>

        <div class="row">
            <div class="col text-center text-success" id="info"></div>
        </div>

    </div>

<var id="adminname" hidden="hidden">@Model.Admin.Name</var>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
